<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @necklace, partial: "card", as: :necklace %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "necklaces/necklace_bookmarks" %>
  </div>
</div>
